@{
    ViewData["Title"] = "Home";
}
<body>
    <div class="text-center">
        <h1 class="display-4">Welcome to Jacksons Lane!</h1>    
    </div>
    <div>
        @* <button>History</button>
        <button>Pictures</button>
        <button>Floor plans</button>
        <button>Contact</button> *@
    </div>
</body>

